/*======= PAGE SETUP =======*/

$darkGray: #595959;
$gray: #808080;
$lightGray: #bfbfbf;

body {
  font-size: 2em;
  font-weight: 200;
  font-family: monospace;
  color: $darkGray;
}

.wrapper {
  padding: 0 2.5%;
}


/*======= SIDEBAR =======*/

#sidebar {
  text-align: center;
  background: $gray;
  color: white;
  text-decoration: none;
  padding-left: 2.5%;
  height: 100%;
  border-right: 1px solid $darkGray;

  h1 {
    padding-top: 50px;
  }

  h3 {
    margin: 0;
    padding: 20px 0;
  }

  hr {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .smaller {
    margin: 10px 0 50px 0;
    font-weight: 200;
  }

  .contact-icon {
    width: 48px;
    border-radius: 100%;
    margin-bottom: 20px;

    &:hover {
      margin-top: -2px;
      box-shadow: 4px 4px 4px $darkGray;
    }
  }

  #skills {
    cursor: pointer;
    border: 1px solid $gray;

    &:hover {
      background: #000;
      opacity: 0.6;
      border-color: $darkGray;
    }
  }

  #project-nav > div {
    margin-bottom: 10px;
    border: 1px solid $darkGray;
    height: 200px;

    &:hover {
      border-color: #000;
      color: white;
      cursor: pointer;

      .screen {
        background: #000;
        opacity: 0.6;
      }

      .menu-project-title {
        display: block;
      }
    }

    .menu-project-title {
      font-size: 1.5em;
      position: relative;
      top: -115px;
      display: none;
    }

    .screen {
      position: relative;
      top: 0;
      height: 198px;
      opacity: 0;
    }
  }

  #splore {
    background: url('../../images/splore.png') center top no-repeat;
    background-size: cover;
  }

  #lrp {
    background: url('../../images/lrp.png') center top no-repeat;
    background-size: cover;
  }

  #geo {
    background: url('../../images/geo.png') center top no-repeat;
    background-size: cover;
  }

  #footer {
    margin: 200px 0 50px 0;
  }
}


/*======= MAIN =======*/

#main {

  padding-top: 50px;

  .project img {
    border: 1px solid $gray;
    width: 98%;
    margin: 5px 1% 20px 1%;
  }

  a:hover {
    text-decoration: none;
    font-weight: 500;
  }

  .project {
    display: none;

    .project-title, .project-link {
      display: inline-block;
    }

    p {
      text-align: justify;
    }
  }

  #skills-page {
    display: none;

    #bio-pic {
      width: auto;
      margin: 0 auto;
      border-radius: 50%;
    }

    h3 {
      text-align: center;
    }

    .skill {
      text-align: center;
      border: 1px solid $gray;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 10px;
      padding-top: 5px;
    }

    .lang {
      background: lightGreen;
    }

    .frame {
      background: lightBlue;
    }

    .other {
      background: lightYellow;
    }
  }

}

@media screen and (min-width: 512px) {
  h1 {
    margin-top: 0;
  }
}
